a{
    text-decoration: none;
    color: black;
}
/* HEADER*/
header{
    background-color: #ffebee;
    padding: 1rem;

}
header img {
    max-width: 100%;
    height: 40px;
}

header ul {
    gap: 20px;
    list-style: none;
}
.btn-primary{
    --bs-btn-color: black;
    --bs-btn-bg: white;
    --bs-btn-border-color: #ef9a9a;
    --bs-btn-hover-bg: #ef9a9a;
    --bs-btn-hover-border-color: white;
    --bs-btn-border-radius: 25px
}
.banner img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}
.msjdivisor {
    color: #ffebee;
    text-align: center;
    background-color: #ef9a9a;
    padding: 1rem;
}
.bannerfull {
    display: flex;
    background-color: #ffebee;
}
.bannerfull img {
    width: 100%;
    height: auto;
}
.bannerfulltext {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.titleprod {
    color: #ffa000;
    text-align: center;
    padding: 1rem;
    }

.productos {
    display: flex;
}
.prod1 img  {
    width: 50%;
    height: auto;
    flex-grow: 0;
}
.prod2 img {
    width: 50%;
    height: auto;
    flex-grow: 0;
}
.prod3 img {
    width: 50%;
    height: auto;
    flex-grow: 0;
}

.socialmedia {
    display: flex;    
    justify-content: center;
    align-items: center;
    background-color: #ffebee;

}
.socialmedia img {
    width: 20px;
    height: auto;
    flex-grow: 0;
margin: 5px;

}
.socialmedia ol {
    display: flex;
    list-style: none;
}
.navend {
    display: flex;
    background-color: #ffebee;
    padding: 1rem;
    justify-content:center;
    align-items:center;
}

.navend ol {
    display: flex;
    gap: 20px;
    list-style: none;
}
.aboutme {
    display: flex;
}
.aboutme img {
    width: 50%;
    height: auto;
}
.contacto {
    display: flex;
    background-color: #ffebee;
}

.contacto ol img {
    width: 20px;
    height: auto;
}